html
    height: 100%
body
    background: #fff
    font-family: $font-common
    font-size: em(13)
    font-weight: 600
    color: $dark-gray
    height: 100%
    overflow-y: scroll
.logo
    width: 187px
    height: 37px
    display: inline-block
    vertical-align: middle
    +cover
.icon
    display: inline-block
    position: relative
    width: 37px
    height: 37px
    cursor: pointer
.btn
    font-family: $font-common
    font-size: em(11, 13)
    font-weight: 600
    color: $dark-gray
    border: 1px solid $border-gray
    border-radius: 45px
    padding: 2px 12px
    background-color: #fff
    display: inline-block
.link
    font-family: $font-bold
    color: $dark-blue
    text-decoration: none
.label
    font-size: em(12, 13)
    padding: 0 15px
    display: table-cell
    vertical-align: middle
    overflow: hidden
    
@each $png-icon in $png-icons
    .icon__#{$png-icon}
        +s($png-icon)
        +vcenter


    
