// buttons
.btn
    font-family: $font-common
    font-size: em(11, 13)
    font-weight: 600
    color: $dark-gray
    border: 1px solid $border-gray
    border-radius: 45px
    padding: 2px 12px
    background-color: #fff
    display: inline-block
   
// links
.link
    font-family: $font-bold
    color: $dark-blue
    text-decoration: none

// labels
.label
    font-size: em(12, 13)
    padding: 0 15px
    display: table-cell
    vertical-align: middle
    overflow: hidden

// selects
.multiple-select
    height: 30px
    border: 1px solid #fff
    position: relative
    cursor: pointer
    +clr
    .multiple-select__placeholder
        width: 100px
        height: 100%
        background-color: #fff
        float: left
        position: relative
        overflow: hidden
        .multiple-select__placeholder-text
            font-family: $font-bold
            font-size: 1em
            position: absolute
            left: 20%
            top: 50%
            transform: translate(-20%, -50%)
            
    .multiple-select__list
        width: 100%
        background-color: #fff
        border: 1px solid $border-gray
        padding: 10px 15px
        position: absolute
        top: 35px
        left: 0
        z-index: 999
        li
            font-family: $font-regular
            font-weight: 400
            padding: 8px 0 10px
            list-style: none
            cursor: pointer
    .multiple-select__switcher
        height: 100%
        float: left
        overflow: hidden
        .icon
            background-color: #fff
            width: 14px
            height: 15px
            display: block
            .icon__arrow-up
                +s(arrow-up-gray)
                position: absolute
                bottom: 2px
            .icon__arrow-down
                +s(arrow-down-gray)
                position: absolute
                top: 2px
            
// icons in blocks
@each $s-icon in $s-icons 
    .icon .icon__#{$s-icon}
        +s($s-icon)
        +vcenter

.icon
    display: inline-block
    position: relative
    width: 37px
    height: 37px
    cursor: pointer

// icons in buttons
@each $s-button in $s-buttons
    .button .button__#{$s-button}
        +s($s-button)
        +vcenter
.button
    width: 32px
    height: 32px
    position: relative
    cursor: pointer

    