// buttons
%btn
    font-family: $font-common
    font-size: em(11, 13)
    font-weight: 600
    color: $dark-gray
    border: 1px solid $border-gray
    border-radius: 45px
    padding: 2px 12px
    background-color: #fff
   
// links
%link
    font-family: $font-bold
    text-decoration: none
    color: $dark-blue

// labels
%label
    font-size: em(12, 13)
    display: table-cell
    vertical-align: middle
    padding: 0 15px
// icons
.icon
    display: inline-block
    //background-image: url('../img/sprite.png')
    //background-repeat: no-repeat
    //overflow: hidden
    //text-align: center

// selects
.multiple-select
    display: inline-flex
    position: relative
    height: 30px
    cursor: pointer
    border: 1px solid #fff
    +clr
    .multiple-select__placeholder
        +vertical
        height: 100%
        width: 100%
        overflow: hidden
        background-color: #fff
        float: left
        padding: 0 10px
        font-family: $font-bold
        font-size: 1em
            
    .multiple-select__list
        position: absolute
        top: 35px
        left: 0
        z-index: 999
        width: 100%
        background-color: #fff
        padding: 10px 15px
        border: 1px solid $border-gray
        li
            list-style: none
            font-family: $font-regular
            font-weight: 400
            padding: 8px 0 10px
            cursor: pointer
    .multiple-select__switcher
        height: 100%
        float: left
        overflow: hidden
        .icon-wrapper
            background-color: #fff
            width: 14px
            height: 15px
            position: relative
            .icon-arrow-up
                +s(arrow-up-gray)
                position: absolute
                bottom: 3px
            .icon-arrow-down
                +s(arrow-down-gray)
                position: absolute
                top: 1px
            