//Fonts
$font-common: 'RobotoThin'
$font-regular: 'RobotoRegular'
$font-bold: 'RobotoBold'
$font-copyright: 'Myriad'

//Colors
$dark-gray: #2e3236
$light-gray: #797c83
$dark-blue: #0a4f8b

$bg-dark: #383e42
$bg-light: #edeff1
$bg-very-light: #f6f7f8
$bg-blue: #4b7396

$border-gray: #dcdee0
$hover-gray: #606568

// icons
$png-icons: mail, arrow-down-gray, arrow-down-large, arrow-left, arrow-right, arrow-up-gray, bell-white, file-white, file-gray, folder-double, folder-single, lines-gray, lines-white, rect-gray, rect-white, search, settings-gray, settings-white, sliders-gray, sliders-white, stack-gray, stack-white, star-gray, star-white, user-gray, user-off, user-on, window-gray, window-white

