--- 
title: Duracell 
--- 

{% extends "layouts/_layout.html" %} {% block content %}
<!--HEADER BEGIN-->
{% include "partials/_header.html" %}
<!--HEADER END-->

<!--Page wrapper BEGIN-->
<div class="page-wrapper">
    <!--Page header BEGIN-->
    <header class="page-header">
        <div class="page-header__info"> 
           <span class="icon icon-folder-double"></span>
            <div class="info__heading">
                <h1 class="info__title">Cogniance, Inc. Home Page</h1>
                <p class="info__text">PM, Eng & SQA document share and test file locations for Cogniance engagements</p>
            </div>
        </div>
        <div class="page-header__btn"> 
            <button class="btn icon icon-star"></button> 
            <button class="btn icon icon-sliders"></button> 
        </div>
    </header>
    <!--Page header END-->
    
    <!--MAIN BEGIN-->
    <main class="page-main">
        <!--Content section BEGIN-->
        {% include "partials/_content.html" %}
        <!--Content section END-->
        
        <!--Calendar section BEGIN-->
        {% include "partials/_calendar.html" %}
        <!--Calendar section END-->
    </main>
    <!--MAIN END-->
    
    <!--ASIDE BEGIN-->
    <aside class="page-aside">
        <!--Shortcuts section BEGIN-->
        {% include "partials/_shortcuts.html" %}
        <!--Shortcuts section END-->
        <!--Membership section BEGIN-->
        {% include "partials/_membership.html" %}
        <!--Membership section END-->
    </aside>
    <!--ASIDE END-->
</div>
<!--Page wrapper END-->

<!--FOOTER BEGIN-->
{% include "partials/_footer.html" %}
<!--FOOTER END-->
 
 {% endblock %}