--- 
title: Duracell 
--- 

{% extends "layouts/_layout.html" %} {% block content %}
<!--HEADER BEGIN-->
{% include "partials/_header.html" %}
<!--HEADER END-->

<!--Page wrapper BEGIN-->
<div class="page">
    <!--Page header BEGIN-->
    <header class="page__header">
        <div class="page__info"> 
           <div class="icon">
               <span class="icon__folder-double"></span>
           </div>
            <div class="page__heading">
                <h1 class="page__title">Cogniance, Inc. Home Page</h1>
                <p class="page__text">PM, Eng & SQA document share and test file locations for Cogniance engagements</p>
            </div>
        </div>
        <div class="page__btn"> 
            <button class="btn button">
                <span class="button__star-gray"></span>
            </button> 
            <button class="btn button">
                <span class="button__sliders-gray"></span>
            </button> 
        </div>
    </header>
    <!--Page header END-->
    
    <!--MAIN BEGIN-->
    <main class="page__main">
        <!--Content section BEGIN-->
        {% include "partials/_content.html" %}
        <!--Content section END-->
        
        <!--Calendar section BEGIN-->
        {% include "partials/_calendar.html" %}
        <!--Calendar section END-->
    </main>
    <!--MAIN END-->
    
    <!--ASIDE BEGIN-->
    <aside class="page__aside">
        <!--Shortcuts section BEGIN-->
        {% include "partials/_shortcuts.html" %}
        <!--Shortcuts section END-->
        <!--Membership section BEGIN-->
        {% include "partials/_membership.html" %}
        <!--Membership section END-->
    </aside>
    <!--ASIDE END-->
</div>
<!--Page wrapper END-->

<!--FOOTER BEGIN-->
{% include "partials/_footer.html" %}
<!--FOOTER END-->
 
 {% endblock %}