--- 
title: Duracell 
--- 

{% extends "layouts/_layout.html" %} {% block content %}
<!--BEGIN HEADER-->
{% include "partials/_header.html" %}
<!--END HEADER-->

<!--BEGIN NAVIGATION-->
{% include "partials/_nav.html" %}
<!-- END NAVIGATION-->

<!--BEGIN PAGE-->
<div class="page">

<!--BEGIN PAGE HEADER-->
{% include "partials/_page-header.html" %}
<!--END PAGE HEADER-->
       
    <!-- BEGIN MAIN-->
    <main class="page__main">
        <!--BEGIN Content section-->
        {% include "partials/_content.html" %}
        <!-- END Content section-->
        
        <!--BEGIN Calendar section-->
        {% include "partials/_calendar.html" %}
        <!--END Calendar section-->
    </main>
    <!--END MAIN-->
    
    <!--ASIDE BEGIN-->
    <aside class="page__aside">
        <!--BEGIN Shortcuts section-->
        {% include "partials/_shortcuts.html" %}
        <!--END Shortcuts section-->
        <!--BEGIN Membership section-->
        {% include "partials/_membership.html" %}
        <!--END Membership section-->
    </aside>
    <!--ASIDE END-->
</div>
<!--END PAGE-->

<!--BEGIN FOOTER-->
{% include "partials/_footer.html" %}
<!--END FOOTER-->
 
 {% endblock %}