<section class="section calendar">
    <!--BEGIN - Section topbar-->
    <div class="section__topbar"> 
        <div class="icon section__trigger">
            <span class="icon__arrow-down-gray"></span>
        </div>
        <h1 class="section__title">Calendar</h1>
        <button class="btn section__btn">Edit</button>
    </div>
    <!--END - Section topbar-->    

    <!--BEGIN - Section block-->
    <div class="section__block">
        <div class="section__content">
            <p class="section__nodata">There are currently no items in the calendar portlet.</p>
        </div>
    </div>
    <!--END - Section block--> 
</section>