<section class="section calendar">
<!--Section meta BEGIN-->
        <div class="section__meta-top"> 
           <div class="section__trigger"><span class="icon icon-arrow-down"></span></div>
            <h1 class="section__heading">Calendar</h1>
            <button class="section__btn">Edit</button>
        </div>
<!--Section meta END-->    

<!--Section block BEGIN-->
    <div class="section__block">
        <div class="section__content">
            <div class="no-data">There are currently no items in the calendar portlet.</div>
        </div>
    </div>
<!--Section block END--> 
</section>