{% import "data/content.html" as data %}

<section class="section content highlighted">
    <!--Section meta BEGIN-->
    <div class="section__meta-top">
      <div class="section__trigger">
       <span class="icon icon-arrow-down">
       </span>
        </div>
        <h1 class="section__heading">Content</h1>
        <button class="section__btn">Edit</button>
    </div>
    <!--Section meta END-->
    
    <!--Section block BEGIN-->
    <div class="section__block">
<!-- Section navigation BEGIN-->
        <div class="section__nav">
          <div class="item">
           <span class="label">Show</span>
            <select class="select">
                <option value="0">All Types</option>
                <option value="1">Type 1</option>
                <option value="2">Type 2</option>
            </select>
            </div> 
            <div class="item">
            <span class="label">Add</span>
            <select class="select" id="calendar">
                <option value="0">Calendar</option>
                <option value="1">Calendar</option>
                <option value="2">Calendar</option>
            </select>
            </div>
            <div class="icons"> 
                <div class="icon-wrapper"><span class="icon icon-rect"></span></div>
                <div class="icon-wrapper"><span class="icon icon-lines"></span></div>
            </div>
        </div>
<!-- Section navigation END-->
       
<!--    Section content table BEGIN-->
        <div class="section__table" data-style="">
            <div class="head">
                <div class="col-left">
                    <div class="head__elem">Title<span class="icon icon-arrow-down"></span></div>
                </div>
                <div class="col-right">
                    <div class="head__elem owner">Owner</div>
                    <div class="head__elem edited">Edited</div>
                    <div class="head__elem size">Size</div>
                </div>
            </div> 
            <div class="body">
               {% for item in data.content_table %}
                <div class="row">
                    <div class="col-left">
                        <div class="cell icon icon-folder-single"></div>
                        <div class="cell cell-heading"> <a href="#!" class="title">{{item.title}}</a>
                            <p class="text">{{item.text}}</p>
                        </div>
                    </div>
                    <div class="col-right"> 
                       <a href="#!" class="cell cell-owner">{{item.owner}}</a>
                        <div class="cell cell-date">{{item.date}}</div>
                        <div class="cell cell-size">{{item.size}}</div>
                    </div>
                </div> 
                {% endfor %} 
            </div>
        </div>
<!--    Section table END-->
    </div>
    <!--Section block END-->
</section>