<footer class="footer">
<!--   Footer navigation BEGIN-->
    <nav class="footer__nav">
        <div class="footer__block">
            <div class="footer__item"><a href="#!" class="footer__link">Users and Groups</a></div>
            <div class="footer__item"><a href="#!" class="footer__link">Help</a></div>
        </div>
        <div class="footer__block">
            <div class="footer__item"><a href="#!" class="footer__link">About DocuShare</a></div>
            <div class="footer__item"><a href="#!" class="footer__link">Statistics</a></div>
        </div>
        <div class="footer__block">
            <div class="footer__item"><a href="#!" class="footer__link">Mobile Client Settings</a></div>
            <div class="footer__item"><a href="#!" class="footer__link">Cookies</a></div>
        </div>
    </nav>
<!--   Footer navigation END-->

<!--   Footer copyright BEGIN-->
    <div class="footer__info">
        <div class="footer__copyright">
            <p class="footer__text">© 1996-2015 Xerox Corporation.</p>
            <p class="footer__text">All Rights Reserved.</p>
        </div>
        <a href="#!" class="footer__logo"><img src="img/footer-logo.png" alt="Xerox"></a>
    </div>
<!--   Footer copyright END-->
</footer>