<footer class="footer">
<!--   Footer navigation BEGIN-->
    <nav class="footer__btm-nav">
        <div class="footer__block">
            <div class="item"><a href="#!">Users and Groups</a></div>
            <div class="item"><a href="#!">Help</a></div>
        </div>
        <div class="footer__block">
            <div class="item"><a href="#!">About DocuShare</a></div>
            <div class="item"><a href="#!">Statistics</a></div>
        </div>
        <div class="footer__block">
            <div class="item"><a href="#!">Mobile Client Settings</a></div>
            <div class="item"><a href="#!">Cookies</a></div>
        </div>
    </nav>
<!--   Footer navigation END-->

<!--   Footer copyright BEGIN-->
    <div class="footer__info">
        <div class="footer__copyright">
            <p>© 1996-2015 Xerox Corporation.</p>
            <p>All Rights Reserved.</p>
        </div>
        <a href="#!" class="footer__logo"><img src="img/footer-logo.png" alt="Xerox"></a>
    </div>
<!--   Footer copyright END-->
</footer>