<header class="header">
    <!--BEGIN - HEADER Logo-->
    <div class="header__logo">
        <a href="#" class="logo" style="background-image: url(img/header-logo.png)"></a>
    </div>
    <!--END - HEADER Logo-->
   
    <!--BEGIN - HEADER Search form-->
    <div class="header__search">
        <form action="" class="search">
            <div class="search__bar">
                <input type="text" placeholder="Search" class="search__input">
                <div class="search__btn">
                    <button class="icon search__button">
                        <span class="icon__arrow-down-large"></span>
                    </button>
                    <button class="icon search__button">
                        <span class="icon__search"></span>
                    </button>
                </div>
            </div>
            <div class="icon search__icon">
                <span class="icon__settings-gray"></span>
            </div>
        </form>
    </div>
    <!--END - HEADER Search form-->

    <!--BEGIN - HEADER User info-->
    <div class="header__user">
        <div class="header__user_inner">
           <div class="icon">
                <span class="icon__user-gray"></span>
            </div>
            <div class="header__login">
                <a href="#" class="header__login_inner">emma.davidson@caterptillar.com</a>
            </div>
            <div class="header__logout">
                <button class="btn">Log out</button>
            </div>
        </div>
    </div>
    <!--END - HEADER User info-->
</header>

