{% import "data/membership.html" as data %}

<section class="section membership">
    <!--Section meta BEGIN-->
        <div class="section__meta-top"> 
           <div class="btn icon section__trigger"><span class="icon__arrow-down-gray"></span></div>
            <h1 class="section__heading">Membership</h1>
            <button class="btn section__btn">Edit</button>
        </div>
    <!--Section meta END-->
    
    <!--Section block BEGIN-->
    <div class="section__block">
<!--       Section sort BEGIN-->
        <div class="section__sort"> 
        {% for letter in ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','0-9','all'] %} 
            <a href="#!" class="link" data-letter="{{letter}}">{{letter}}</a> 
        {% endfor %} 
        </div>
<!--       Section sort END-->

<!--       Section navigation BEGIN-->
        <div class="section__nav"> 
          <div class="section__item">
           <span class="label">View</span>
            <select class="select">
                <option value="0">1-8 of 14</option>
                <option value="1">9-14 of 14</option>
            </select>
            </div>
            <div class="section__icons"> 
                <div class="btn icon"><span class="icon__arrow-left"></span></div> 
                <div class="btn icon"><span class="icon__arrow-right"></span></div> 
            </div>
        </div>
<!--       Section navigation END-->

<!--       Section content BEGIN-->   
        <div class="section__content">
            <ul class="users"> 
               {% for user in data.users %}
                <li class="user" data-name="{{user.name}}">
                    <div class="icon"><span class="icon__user-{{user.status}}"></span></div>
                    <span class="user__name"><a href="#!" class="link">{{user.name}}</a></span>
                    <div class="icon user__contact"><span class="icon__Mail"></span></div>
                    <span class="user__info">{{user.info}}</span>
                </li> 
                {% endfor %} 
            </ul>
        </div>
<!--       Section content BEGIN--> 
    </div>
    <!--Section block END-->
</section>