{% import "data/membership.html" as data %}

<section class="section membership">
    <!--Section meta BEGIN-->
        <div class="section__meta-top"> <span class="icon icon-arrow-down meta-top__trigger"></span>
            <h1 class="meta-top__heading">Membership</h1>
            <button class="meta-top__btn">Edit</button>
        </div>
    <!--Section meta END-->
    
    <!--Section block BEGIN-->
    <div class="section__block">
<!--       Section sort BEGIN-->
        <div class="section__sort"> 
        {% for letter in ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','0-9','all'] %} 
            <a href="#!" class="link" data-letter="{{letter}}">{{letter}}</a> 
        {% endfor %} 
        </div>
<!--       Section sort END-->

<!--       Section navigation BEGIN-->
        <div class="section__nav"> 
          <div class="nav__item">
           <span class="label">View</span>
            <select class="multiple-select">
                <option value="0">1-8 of 14</option>
                <option value="1">9-14 of 14</option>
            </select>
            </div>
            <div class="icons"> 
                <span class="icon icon-arrow-left"></span> 
                <span class="icon icon-arrow-right"></span> 
            </div>
        </div>
<!--       Section navigation END-->

<!--       Section content BEGIN-->   
        <div class="section__content">
            <ul class="users"> 
               {% for user in data.users %}
                <li class="user" data-name="{{user.name}}">
                    <span class="user__icon icon icon-user-{{user.status}}"></span>
                    <span class="user__name"><a href="#!" class="link">{{user.name}}</a></span>
                    <span class="user__contact icon icon-mail"></span>
                    <span class="user__info">{{user.info}}</span>
                </li> 
                {% endfor %} 
            </ul>
        </div>
<!--       Section content BEGIN--> 
    </div>
    <!--Section block END-->
</section>