<header class="page__header">
    <!--BEGIN - Page info-->
    <div class="page__info">
       <!--BEGIN - Page icon-->
        <div class="icon page__icon">
            <span class="icon__folder-double"></span>
        </div>
        <!--END - Page icon-->
        <!--BEGIN - Page heading-->
        <div class="page__heading">
           <div class="page__heading_inner">
               <h1 class="page__title">Cogniance, Inc. Home Page</h1>
                <h2 class="page__subtitle">PM, Eng & SQA document share and test file locations for Cogniance engagements</h2>
            </div>
        </div>
        <!--END - Page heading-->
    </div>
    <!--END - Page info-->
    <!--BEGIN - Page buttons-->
    <div class="page__btn"> 
        <button class="btn icon page__button">
            <span class="icon__star-gray"></span>
        </button> 
        <button class="btn icon page__button">
            <span class="icon__sliders-gray"></span>
        </button> 
    </div>
    <!--END - Page buttons-->
</header>