<section class="section shortcuts">
<!--Section meta BEGIN-->
        <div class="section__meta-top"> 
           <span class="icon icon-arrow-down meta-top__trigger"></span>
            <h1 class="meta-top__heading">Shortcuts</h1>
            <button class="meta-top__btn">Edit</button>
        </div>
<!--Section meta END-->    

<!--Section block BEGIN-->
    <div class="section__block">
        <div class="section__content">
            <div class="data">There are currently no items in the shortcuts portlet.</div>
        </div>
    </div>
<!--Section block END--> 
</section>