.content
    .section__block
        
        // BEGIN -- Content navigation
        
        .section__nav
            +clr
            .item
                display: table
                float: left
                .label
                    //display: inline-block
                    overflow: hidden
            .icons
                float: right
                background-color: #fff
                padding: 5px 10px
                .icon
                    border: 1px solid #fff
                    padding: 5px
                    cursor: pointer
                .icon-rect
                    +s(rect-white)
                    border: 1px solid #fff
                    &:hover
                        border: 1px solid $border-gray
                        +s(rect-gray)
                    &.active
                        border: 1px solid $border-gray
                        +s(rect-gray)
                .icon-lines
                    +s(lines-white)
                    &:hover
                        border: 1px solid $border-gray
                        +s(lines-gray)
                    &.active
                        border: 1px solid $border-gray
                        +s(lines-gray)
                        
        // END -- Content navigation
        
        
        // BEGIN -- Content table - general   
                
        .section__table
            background-color: #fff
            width: 100%

            .body
                display: flex
                flex-wrap: wrap
                .row__wrapper
                    position: relative
                    border-bottom: 1px solid $border-gray
                    &:hover
                        .row
                            .col-left
                                .cell
                                    .title
                                        color: #fff
                                    .text
                                        color: #fff
                    &.highlighted
                        background-color: $hover-gray
                    .row
                        display: flex
                        cursor: pointer

                        .col-left
                            .icon-folder-single
                                +s(folder-single)
                            .cell
                                .title
                                    @extend %link
                                    font-size: em(15, 13)
                                .text
                                    font-size: em(10, 13)
                                    color: $light-gray

                        .col-right
                            display: flex
                            .cell-owner
                                @extend %link
                                font-size: 1em
                            .cell-date
                                font-family: $font-bold
                                font-size: 1em
                                font-weight: 600
                            .cell-size
                                font-family: $font-regular
                                font-size: 1em
                                font-weight: 400
                    .additional
                        position: absolute
                        z-index: 999
                        right: 0
                        background-color: $hover-gray
                        opacity: 0.9
                        .icon__wrapper
                            height: 100%
                            display: inline-block
                            cursor: pointer
                            position: relative
                            &:hover
                                background-color: $bg-dark
                            .icon
                                display: inline-block
                                overflow: hidden
                                +vcenter
                            .icon-bell
                                +s(bell-white)
                            .icon-sliders
                                +s(sliders-white)
                            .icon-star
                                +s(star-white)
                            .icon-settings
                                +s(settings-white)

                                
            // END -- Content table - general
            

        // BEGIN -- Content table - rows    
                
        .section__table[data-style="rows"]
            padding: 0 10px 10px 10px
            .head
                display: flex
                justify-content: space-between
                border-bottom: 1px solid $border-gray
                .col-left
                    .head__elem
                        font-size: em(10, 13)
                        padding: 8px 0
                        margin-left: 40px
                        .icon-arrow-down
                            +s(arrow-down-gray)
                            cursor: pointer
                            margin-left: 7px
                .col-right
                    .head__elem
                        display: inline-block
                        font-size: em(10, 13)
                        width: 68px
                        padding: 8px 0

            
            .body
                flex-direction: column
                .row__wrapper
                    &:last-of-type
                        border-bottom: 1px solid #fff
                    .row
                        flex-direction: row
                        justify-content: space-between
                        padding: 10px 0

                        .col-left
                            .icon-folder-single
                                margin: 0px 8px 10px 8px
                            .cell
                                display: inline-block

                        .col-right
                            justify-content: space-between
                            .cell
                                display: inline-block
                                width: 70px
                    .additional
                        top: 0
                        height: 53px
                        .icon__wrapper
                            width: 65px
                            padding: 15px

                                
            // END -- Content table rows


        // BEGIN -- Content table - columns   
                
        .section__table[data-style="columns"]
            padding: 20px 10px 30px 10px
            .head
                height: 10px
                background-color: #fff
                & > *
                    display: none
            
            .body
                flex-direction: row               
                .row__wrapper
                    cursor: pointer
                    width: 30%
                    padding: 20px 0 10px
                    margin: 10px
                    border-top: 1px solid $border-gray
                    &:hover
                            border-bottom: 1px solid #606568
                    .row
                        flex-direction: column
                        height: 100%
                        
                        .col-left
                            display: flex
                            flex-direction: row
                            flex: 1 0 auto
                            .icon-folder-single
                                margin: 0 10px
                            .cell-heading
                                width: 80%

                        .col-right
                            flex-direction: row
                            flex: 0 0 auto
                            padding: 10px
                            height: 30%
                            .cell
                                padding: 5px
                                margin: 0 auto
                    .additional
                        bottom: 0
                        width: 100%
                        height: 30%
                        .icon__wrapper
                            width: 25%
                            text-align: center
                            padding-top: 10px

                // END -- Content table -columns