.header
    .header__block-top
        +clr
        .header__logo
            float: left
            width: percentage(220/1230)
            padding: 15px 0 15px 20px

        .header__search-form
            width: percentage(645/1230)
            height: 30px
            padding: 20px 0
            float: left
            +clr
            .search
                width: percentage(615/645)
                height: 30px
                float: left
                .search__input
                    border: 1px solid #dcdee0
                    width: 100%
                    height: 100%
                    +clr
                    input
                        font-family: $font-common
                        font-size: em(12, 13)
                        padding-left: 15px
                        float: left
                        width: percentage(548/615)
                        height: 100%
                        margin: 0
                    .search__btn
                        float: right
                        height: 100%
                        margin: 0
                        +clr
                        .button
                            width: 28px
                            height: 28px
                            background-color: #fff
                            border-left: 1px solid $border-gray
                            float: left
                            
            .icon
                height: 30px

        .user
            float: right
            padding: 15px 20px 15px 0
            width: percentage(360/1230)
            +clr
            
            .icon
                float: right
            .user__login
                float: right
                font-size: em(12, 13)
                margin: 10px
            .user__logout
                margin-top: 8px
                float: right
                
    .header__nav-top
        border: 1px solid $border-gray
        ul
            +clr
            .top-nav__item
                padding: 12px 20px
                float: left
                &:first-of-type
                    padding-left: 30px
                    padding-right: 30px
                &:hover
                    cursor: pointer
                &.active
                    background-color: $bg-dark
                    cursor: pointer
                    .top-nav__item-content
                        .text
                            .text__simple
                                color: #fff
                        .icon
                            .icon__window-gray
                                +s(window-white)
                            .icon__file_gray
                                +s(file-white)
                            .icon__stack-gray
                                +s(stack-white)
                            .icon__star-gray
                                +s(star-white)
                            
                .top-nav__item-content
                    text-decoration: none
                    display: table
                    .text
                        display: table-cell
                        vertical-align: middle
                        .text__simple
                            text-transform: uppercase
                            font-size: em(12, 13)
                            color: $dark-gray
                        .text__extra
                            padding: 0 5px
                            margin-left: 3px
                            background-color: #ff6c32
                            border: none
                            border-radius: 10px
                            font-family: $font-regular
                            font-size: em(10, 13)
                            font-weight: 400
                            color: #fff
                    .icon
                        width: 26px
                        height: 24px
                        margin-right: 15px
        
