{% set 
content_table = [
	{
		title: 'Mapping of CMIS Services to DocuShare/Falcon',
		text: 'DocuShare API used to populate a menu of available document classes',
		owner: 'binouye',
		date: '12/18/14',
		size: '102Mb'
	},
	{
		title: 'How Mobile Apps Authenticate with DocuShare',
		text: 'DocuShare API used to populate a menu of available document classes',
		owner: 'binouye',
		date: '10/07/14',
		size: '90Mb'
	},
	{
		title: 'DocuShare Print and Email API',
		text: 'DocuShare API used to populate a menu',
		owner: 'davidson',
		date: '10/08/14',
		size: '8Mb'
	},
	{
		title: 'The CMIS Standard',
		text: 'DocuShare API used to populate a menu of available document classes',
		owner: 'melisa',
		date: '10/09/14',
		size: '240Mb'
	},
	{
		title: 'Mapping of CMIS Services to DocuShare/Falcon',
		text: 'DocuShare API used to populate a menu of available document classes',
		owner: 'binouye',
		date: '12/18/14',
		size: '102Mb'
	},
	{
		title: 'How Mobile Apps Authenticate with DocuShare',
		text: 'DocuShare API used to populate a menu of available document classes',
		owner: 'glynn',
		date: '11/23/14',
		size: '45Mb'
	}
] 
%}