{% set 
users = [
	{
		name: 'David Dhawan',
		info: 'DS',
		status: 'on'
	},
	{
		name: 'John Davidson',
		info: 'CPX',
		status: 'on'
	},
	{
		name: 'Christian Miller',
		info: 'CPX',
		status: 'on'
	},
	{
		name: 'John Davidson',
		info: 'CPX',
		status: 'on'
	},
	{
		name: 'Roy Richardson',
		info: 'CPX',
		status: 'off'
	},
	{
		name: 'Joe Rod',
		info: 'CPX',
		status: 'off'
	},
		{
		name: 'Jenny Watson',
		info: 'CPX',
		status: 'off'
	},
	{
		name: 'Mary Monro',
		info: 'CPX',
		status: 'on'
	},
	{
		name: 'Daniel Fill',
		info: 'CPX',
		status: 'on'
	},
	{
		name: 'Angela Grant',
		info: 'CPX',
		status: 'on'
	},
	{
		name: 'Frederick Mayor',
		info: 'DS',
		status: 'on'
	},
	{
		name: 'Emma Clarks',
		info: 'CPX',
		status: 'off'
	}
] 
%}